@import './index.css';

.search-form {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-dark);
    border-radius: 8px;
    
}

.input-group {
    display: flex;
    flex: 1;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.input-label {
    position: relative;
    flex: 1;
    border-right: 1px solid var(--gray-medium);
}

.search-input {
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
}

.from-label {
    padding: 24px 64px 24px 16px;
}

.to-label {
    padding: 24px 48px 24px 28px;
}

.swap-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--gray-medium);
    background: var(--white);
    color: var(--text-color);
    cursor: pointer;
    z-index: 10;
    margin: 0 -16px;
}

.date-inputs {
    display: flex;
    flex: 2;
}

.date-select {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
    background: var(--white);
    border-right: 1px solid var(--gray-medium);
}

.date-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.date-display {
    padding: 24px 16px;
    color: var(--text-color);
    font-size: 18px;
}

.date-display:empty::before {
    content: attr(placeholder);
    color: var(--gray-medium);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.passenger-class {
    flex: 1;
    background: var(--white);
    padding: 8px 12px;
    cursor: pointer;
}

.text-gray {
    color: var(--gray-darker);
    font-size: 14px;
}

.passenger-count {
    font-size: 18px;
    margin-top: 4px;
}

.search-button-wrapper {
    display: flex;
    align-self: stretch;
}

.search-button {
    padding: 12px 24px;
    background: var(--color-dark);
    color: var(--white);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    border: none;
    cursor: pointer;
    transition: background-color 0.15s;
}

.additional-options {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.option-button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-darker);
    font-size: 14px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 24px;
}


@media (max-width: 768px) {


}
